body {
  font-family: Poppins, 'Source Sans Pro';
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #007bff, #DDEBF9);
}

#profile-picture {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px; 
}

.container {
  width: 90%; 
  max-width: 320px; 
  margin: 20px auto;
  margin-top: 20px;
  text-align: center;
  background-color: #114981;
  font-family: Poppins, 'Source Sans Pro';
  color: #d3e6fd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 8px 16px;
  font-size: 12px; 
  cursor: pointer;
  background-color: #d3e6fd;
  color: #114981;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}
