.app-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, 'Source Sans Pro';
}

.header {
    background-color: white;
    
    text-align: center;
    font-size: 45px;
    color:#114982;
}

.tracking-number {
    background-color: #374B60;
    text-align: center;
    color: white;
    padding: 1px;
    font-size: 35px;
    font-weight: 500;
}

.order-details {
    display: flex;
    justify-content: center;
}

.receiver-details h2,
.sender-details h2 {
    text-align: center;
    color:#0D2D4C;
}

.receiver-details {
    background-color: #DDEBF9;
    padding: 20px;
    width: 48%;
}

.sender-details {
    background-color: #73b9ff;
    padding: 20px;
    width: 48%;
}


button {
    padding: 10px 20px;
    background-color: #114981;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #0056b3;
}

button#updateStatusBtn {
    display: block;
    margin: 20px auto;
}


.detail-row {
    display: flex;
    align-items: center;
}

.detail-header {
    flex: 0 0 30%; 
    font-size: 20px;
    font-weight: 600;
    color:#0D2D4C;
    font-family: Poppins, 'Source Sans Pro';
}

.detail-info {
    flex: 0 0 80%; 
    margin: 0;
}
